.j_header {
  width: 100%;
  height: 125px; }

.j_container {
  width: 100%;
  height: 100%; }

.j_banner {
  background: url(../img/j_image/j_list_img/ia_2000002271.jpg) no-repeat;
  position: relative;
  min-width: 1180px;
  height: 420px;
  background-size: 100%; }
