@charset "UTF-8";

//@desc '公用头部样式'
//@autor  'hcy'
//@date  '2019-11-8'

.h_search{
    position: relative;
    width:1180px;
    padding:10px 0;
    height:80px;
    margin:0 auto;
    .h_img_bg{
        line-height:80px;
    }
    .h_find{
        margin-left:150px;
        position:relative;
        line-height:80px;
        input{
            width:480px;
            height:40px;
            padding:1px 0px 1px 20px;
            border:1px solid #e6e6e6;
        }
        i{
            position:absolute;
            right: 13px;
            top: 2px;
            color:#ff7385;
            font-size:20px;
        }
    }
}
.h_move{
    position:relative;
    margin-top: 13px;
    a{
        img{
            width:50px;
            height:50px;
        }
        .h_txt{
            margin:3px 0 0 5px;
            color:#4D4B4B;
            span{
                display:block;
                font-size:18px;
            }
        }
        
    }
}
.h_img{
    height:42px;
    vertical-align: middle;
}

.h_nav{
    ul{
        li{
            text-align:center;
            float:left;
            height:40px;
            font-size:16px;
            color:#4D4B4B;
            line-height:34px;
            margin-right:15px;
            a{
                display:inline-block;
                padding:3px 4px 9px 4px;
                color:#4D4B4B;
            }
            .h_not{
                display:inline-block;
                transition: all 0.5s;
            }
        }
        
        .h_platform{
            position: relative;
            background-color:#ff7385;
            color:#fff;
            width:220px;
            height:40px;
            line-height:40px;
            font-size: 16px;
            letter-spacing:1px;
            i{
                display:inline-block;
                margin-right:5px;
            }
        }
        li:hover .h_not{
            transform: rotate(180deg);
            color: #ff7385;
        }
        li:hover a{
            color:#ff7385;
        }
    }
}