@charset "UTF-8";


//内容区
.j_container{
    width: 100%;
    height: 100%;
}
.j_banner{
    background: url(../img/j_image/j_list2_img/ia_200000313.jpg) no-repeat;
    position: relative;
    width: 100%;
    min-width: 1180px;
    height: 420px;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-position: center;
    .j_cenlter{
        width: 1180px;
        margin: 0 auto;
    }
    .j_nav_title{
    position: relative;
    height: 50px;
    line-height: 50px;
    color: #808080;
    font-size: 14px;
    z-index: 1;
    }
    a{  
        float: left;
        color: #808080;

        h4{
            color: #666666;
            font-weight: 400;

        }
    }
   
}
.j_city_jname{
    padding-top: 18px;
    h2{
        display: inline-block;
        vertical-align: middle;
        font-size: 48px;
        color: #fff;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    
    }
    span{
        display: inline-block;
        margin-top: 5px;
        margin-left: 8px;
        vertical-align: bottom;
        font-size: 32px;
        color: #fff;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
}
.j_travel_index_wrap{
    width: 370px;
    height: 140px;
    border-radius: 7px;
    margin-top: 20px;
    background-color: rgba(47, 47, 47, 0.9);
    overflow: hidden;
    .j_index_top{
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0 27px;
        background-color: rgba(47, 47, 47, 0.9);
        font-weight: bold;
        color: #ffffff;
        font-size: 20px;
    }
    .j_index_bottom{
       padding: 14px 10px 10px 27px;
       .j_index_list{
           width: 50%;
           padding-bottom: 10px;
           font-size: 14px;
           color: #fff;
           .j_index{
               padding-right: 5px;
               .iconfont{
                font-size: 18px;
                color: #999;
            }
           }
           .j_index_score{
               padding-left: 10px;
               .iconfont{
                   font-size: 12px;
                   color: #ff7385;
               }
            
           }

       }
    }
}
.j_cl{
    color: #4b4b4b;
    z-index: 100;
}
// 内容导航
.j_fiednnav{
    position: absolute;
    width: 100%;
    height: 80px;
    overflow: hidden;
    left: 0;
    bottom: 0;
    .j_nav_wrap{
        width: 100%;
        height: 80px;
        overflow: hidden;
        .j_fiednnavbj{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.87;
            background-color: #000000;
        }
        .j_nav_wrap_cont{
            width: 1180px;
            height: 100%;
            margin: 0 auto;
            .j_nav_item{
                color: #fff; 
                position: relative;
                float: left;
                width: 130px;
                height: 100%;
                line-height: 80px;
                text-align: center;
                cursor: pointer; 
                font-size: 16px;
                font-weight: 400;    
            }
            .j_intentions{
                display: none;
                position: absolute;
                right: 20px;
                padding-top: 15px;
                .j_want{
                    width: 200px;
                    background-color: #ff7385;
                    color: #fff;
                    border-radius: 4px;
                    font-size: 18px;
                    line-height: 50px;
                    text-align: center;
                    cursor: pointer;    
                    z-index: 1000;
                }
                .j_online{
                    width: 180PX;
                    height: 50px;
                    margin-left: 10px;
                    border-radius: 4px;
                    font-size: 18px;
                    line-height: 50px;
                    text-align: center;
                    cursor: pointer;
                    background: #fff;
                  
                }
            }
        }
    }
}
// 伪类
.activ::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -40px;
    width: 80px;
    border-bottom: 2px solid #ff7385;
}
// 图片展示
.j_work{
    width: 100%;
    background: #2f2f2f;
    padding: 40px 0 20px;
    text-align: center;
    .j_work_center{
        width: 1180px;
        margin: 0 auto;
        .j_work_item{
            position: relative;
            width: 720px;
            display: inline-block;
            margin-bottom: 20px;
            line-height: 0;
            cursor: pointer;
            img{
                width: 720px; 
                height: 100%;
            }
        }
        .j_load{
            width: 290px;
            height: 50px;
            background-color: #4c4b4b;
            line-height: 50px;
            margin: 0 auto 20px;
            text-align: center;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }
        .j_title_wrap{
            width: 100%;
            height: 90px;
            padding:30px 0 3px;
            line-height: 46px;
            text-align: center;
            span{
                display: inline-block;
                width: 430px;
                height: 2px;
                vertical-align: middle;
                opacity: 0.15;
                background: #ccc;
            }
            h2{
                display: inline-block;
                width: 300px;
                color: #fff;
                font-size: 30px;
                vertical-align: middle;
                text-align: center;
                i{
                    display: block;
                    font-family: Arial, sans-serif;
                    font-weight:normal;
                    font-style:normal;
                    font-size:14px;
                    line-height: 20px;
                    color: #666666;
                }
            }
        }
        .j_floor{
            .j_floor_list{
                width: 100%;
                height: 100%;
                position: relative;
                .j_list_warp{
                    padding: 20px 0;
                    width: 100%;
                    height: 370px;
                    position: relative;
                    overflow: hidden;
                    ul{
                      
                        position: relative;
                        li{
                            position: relative;
                            width: 380px;
                            height: 330px;
                            background-color: transparent;
                            margin-right: 20px;
                            -webkit-transition: transform 0.3s ease-in-out;
                            transition: transform 0.3s ease-in-out;
                            float: left;
                            
                            .j_al{
                                display: block;
                                width: 100%;
                                height: 260px;
                                position: relative;
                                z-index: 1;
                                img{
                                    border: none;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .j_ar{
                                position: relative;
                                left: 0;
                                bottom: 0;
                                display: block;
                                width: 340px;
                                padding: 0 20px;
                                height: 70px;
                                background-color: rgba(255, 255, 255, 0.14);
                                z-index: 1;
                                font-size: 16px;
                                color: #ffffff;
                                line-height: 70px;
                                .j_arname{
                                    font-size: 20px;
                                    color: #ffffff;
                                }
                            }
                        }
                        li:hover{
                            transform:translateY(-10px);
                        }
                    }
                }
                .nave_left3{
                    position: absolute;
                    left: 0px;
                    top: 100px;
                    z-index: 9999;
                    cursor: pointer;
                }
                .nave_right3{
                    position: absolute;
                    right: 0px;
                    top: 100px;
                    z-index: 9999;
                    cursor: pointer;
                }
            }
        }
        .j_team_blocl{
            padding-bottom: 20px;
            .j_team_blocl_conter{
                margin: 1180px;
                margin: 0 auto;
                .j_blocl_title_wrap{
                    width: 100%;
                    height: 57px;
                    padding:30px 0 3px;
                    line-height: 46px;
                    text-align: center;
                    span{
                        display: inline-block;
                        width: 430px;
                        height: 2px;
                        vertical-align: middle;
                        opacity: 0.15;
                        background: #ccc;
                    }
                    h2{
                        display: inline-block;
                        width: 300px;
                        color: #fff;
                        font-size: 30px;
                        vertical-align: middle;
                        text-align: center;
                        i{
                            display: block;
                            font-family: Arial, sans-serif;
                            font-weight:normal;
                            font-style:normal;
                            font-size:14px;
                            line-height: 20px;
                            color: #666666;
                        }
                    }
                }
            }
            div{
                .j_team_blocl_list{
                    width: 100%;
                    position: relative;
                    .j_list{
                        width: 100%;
                        padding: 20px 0;
                        overflow: hidden;
                        ul{
                            position: relative;
                            height: 100%;
                            width: 10000px;
                           .j_team{
                                position: relative;
                                width: 380px;
                                height: 260px;
                                background-color: transparent;
                                margin-right: 20px;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                
                                }
                                a{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                   .j_herds{
                                        position: absolute;
                                        left: 25px;
                                        bottom: 20px;
                                        width: 40px;
                                        height: 40px;
                                        display: block;
                                        z-index: 1;
                                        img{
                                            width: 40px;
                                            height: 40px;
                                            border-radius: 50%;
                                            transition: all 1.5s;
                                        }
                                    }
                                    .j_item_inner{
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        overflow: hidden;
                                        opacity: 0;
                                        transition: all 0.3s;
                                        p{
                                            position: absolute;
                                            top: 100%;
                                            left: 0;
                                            width: 100%;
                                            display: block;
                                            font-size: 24px;
                                            text-align: center;
                                            color: #fff; 
                                            transition: all 1.7s;
                                            z-index: 999;
                                        }
                                        .j_item_inner_num{
                                            position: absolute;
                                            top: 100%;
                                            left: 0;
                                            width: 100%;
                                            display: block;
                                            font-size: 18px;
                                            text-align: center;
                                            color: #ffffff;
                                            transition: all 2.3s;
                                        }
                                    }

                                }
                                a:hover img{
                                    transform: translate(147px,-100px)
                                }
                                a:hover .j_item_inner{
                                    opacity: 1;
                                }
                                a:hover .j_item_inner p{
                                    transform: translateY(-120px)
                                }
                                a:hover .j_item_inner .j_item_inner_num{
                                    transform: translateY(-90px)
                                }
                            }
                        }
                    }
                }
           
            }
            
        }
       
    }
}
     //体验店
     .j_store{
        min-width: 1180px;
        height: 100%;
        padding-bottom: 40px;
        background-color: #4c4b4b;
       
        .j_store_center{
            width: 1180px;
            margin: 0 auto;
            .j_store_title{
                width: 100%;
                height: 82px;
                padding:30px 0 3px;
                line-height: 46px;
                text-align: center;
                span{
                    display: inline-block;
                    width: 430px;
                    height: 2px;
                    vertical-align: middle;
                    opacity: 0.15;
                    background: #ccc;
                }
                h2{
                    display: inline-block;
                    width: 300px;
                    color: #fff;
                    font-size: 30px;
                    vertical-align: middle;
                    text-align: center;
                    i{
                        display: block;
                        font-family: Arial, sans-serif;
                        font-weight:normal;
                        font-style:normal;
                        font-size:14px;
                        line-height: 20px;
                        color: #666666;
                    }
                }
            }
            .j_store_wrap{
                width: 100%;
                height: 480px;
                overflow: hidden;
                .j_store_left{
                    width: 260px;
                    height:420px;
                    position: relative;
                    padding: 30px 20px ;
                    background-color: #2f2f2f;
                    .j_store_left——top{
                        height: 200px;
                        h2{
                            font-size: 32px;
                            line-height: 40px;
                            color: #ffffff;
                        }
                        p{
                            padding: 10px 0 12px;
                            font-size: 14px;
                            text-align: justify;
                            color: #999999;
                        }
                        span{
                            display: inline-block;
                            height: 25px;
                            font-size: 14px;
                            color: #ffffff;
                            border-bottom: 1px solid #fff;
                            cursor: pointer;

                        }
                    }
                    .j_store_left——bottom{
                        padding-top: 154px;
                        color: #fff;
                        font-size: 16px;
                        line-height: 32px;
                        span{
                            display: inline-block;
                            vertical-align: middle;
                            padding-right: 4px;
                        }
                    }
                }
                .j_Store_right{
                    width: 880px;
                    height: 100%;
                    background-color: #ccc;
                    .j_list_box{
                        width: 100%;
                        height: 100%;
                        .j_list_warp{
                            width: 100%;
                            overflow: hidden;
                            ul{
                                position: relative;
                                height: 100%;
                                overflow: hidden;
                                li{
                                    width: 880px;
                                    height: 480px;
                                    float: left;
                                    // overflow: hidden;
                                    img{
                                        width:100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 了解三亚
    .j_guidanc{
        width: 100%;
        background-color: #fff;
        padding-bottom: 40px;
        .j_guidan_centers{
            width: 1180px;
            height: 100%;
            margin: auto;
           .j_titles{
            width: 100%;
            height: 82px;
            padding:30px 0 3px;
            line-height: 46px;
            text-align: center;
            .span_x{
                display: inline-block;
                width: 430px;
                height: 2px;
                vertical-align: middle;
                // opacity: 0.15;
                background: #ccc;
            }
            h2{
                display: inline-block;
                width: 300px;
                color: #000;
                font-size: 30px;
                vertical-align: middle;
                text-align: center;
                i{
                    display: block;
                        font-family: Arial, sans-serif;
                        font-weight:normal;
                        font-style:normal;
                        font-size:14px;
                        line-height: 20px;
                        color: #666666;
                }
            }
        }
        .j_gui{
            h3{
                font-size: 14px;
                line-height: 28px;
                color: #666666;
            }
            .j_gui_point{
                padding-top: 34px;
                .j_gui_item_a{
                    width: 470px;
                    display: inline-block;
                    .j_gui_item_title{
                        font-size: 18px;
                        line-height: 30px;
                        color: #999999;
                    }
                    .j_gui_conter{
                        padding-top: 12px;
                        font-size: 16px;
                        line-height: 28px;
                        color: #2f2f2f;
                        .j_gui_conter_left{
                            display: inline-block;
                            margin-right: 10px;
                            padding: 9px 20px;
                            line-height: 17px;
                            font-size: 14px;
                            text-align: left;
                            color: #666666;
                            border-radius: 4px;
                            border: 1px solid #c7c5c5;
                        }
                        .j_gui_conter_right{
                            display: inline-block;
                            margin-right: 10px;
                            padding: 9px 20px;
                            line-height: 17px;
                            font-size: 14px;
                            text-align: left;
                            color: #666666;
                            border-radius: 4px;
                            border: 1px solid #c7c5c5;
                        }
                    }
                }
                .j_gui_item_b{
                    display: inline-block;
                    width: 238px;
                    padding-left: 18px;
                    border-left:1px solid #ccc;
                    .j_gui_item_title{
                        font-size: 18px;
                        line-height: 31px;
                        color: #999999;
                    }
                    .j_gui_item_b_t{
                        padding-top: 12px;
                        font-size: 16px;
                        line-height: 27px;
                        color: #2f2f2f;
                    }
                }
                .j_gui_item_c{
                    display: inline-block;
                    width: 238px;
                    padding-left: 18px;
                    border-left: 1px solid #ccc;
                    .j_gui_item_title{
                        font-size: 18px;
                        line-height: 31px;
                        color: #999999;
                    }
                    .j_gui_item_b_t{
                        padding-top: 12px;
                        font-size: 16px;
                        line-height: 27px;
                        color: #2f2f2f;
                    }
                }
                .j_gui_item_d{
                    width: 100%;
                    padding-top: 30px;
                    display: inline-block;
                    .j_gui_item_title{
                        padding-bottom: 10px;
                        font-size: 18px;
                        line-height: 30px;
                        color: #999999;
                        
                    }
                    .j_gui_item_d_row{
                        margin-left: -20px;
                        a{
                            display: block;
                            width: 276px;
                            height: 106px;
                            margin-bottom: 10px;
                            background-color: #f6f6f6;
                            border: solid 1px #ebebeb;
                            margin-left: 20px;
                            padding: 0 0 px;
                            float: left;
                            .j_gui_info{
                                width: 235px;
                                height: 78px;
                                padding: 20px;
                                .j_item_title{
                                    font-size:16px;
                                    line-height: 20px;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    span{
                                        display: inline-block;
                                        width: 18px;
                                        height: 18px;
                                        margin-right: 8px;
                                        font-size: 12px;
                                        color: #ffffff;
                                        text-align: center;
                                        border-radius: 4px;
                                        background-color: #ff7385;
                                    }
                                    p{
                                        width: 100%;
                                        height: 40px;
                                        margin-top: 10px;
                                        font-size: 13px;
                                        line-height: 20px;
                                        color: #999999;
                                        overflow: hidden;
                                        -webkit-line-clamp: 2;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-box-orient: vertical;

                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
        }
    }

    //旅拍评价
    .j_evaluate{
        padding: 6px 0 40px;
        background-color: #2f2f2f;
        .j_evaluate_conter{
            width: 1180px;
            margin: 0 auto;
            .j_evaluate_title{
                will-change: 100%;
                padding: 30px 0 3px;
                height: 30px;
                padding-bottom: 20px;
                line-height: normal;
                text-align: center;
                .title_left{
                    // width: 100%;
                    .title_txt{
                        font-size: 24px;
                        text-align: left;
                        color: #fff;
                    }
                }
                .title_tab{
                    height: 100%;
                    padding-top: 8px;
                    display: inline-block;
                    text-align: right;
                    .tab_item{
                        margin-left: 15px;
                        display: inline-block;
                        cursor: pointer;
                        font-size: 16px;
                        color: #fff;
                        span{
                            color: #ff7385;
                        }
                    }
                }
            }
            .j_comment_Warp{
                width: 100%;
                height: 1300px;
                .j_load_list{
                    position: relative;
                    // overflow: hidden;
                    .j_load_more{
                        position: absolute;
                        width: 240px;
                        padding: 20px;
                        margin-bottom: 20px;
                        background-color: #ffffff;
                        .j-comment_head{
                            width: 36px;
                            height: 36px;
                            img{
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                            }
                        }
                        .j-comment_info{
                            position: relative;
                            width: 190px;
                            .j_ci_name{
                                line-height: 24px;
                                color: #666666;
                                font-size: 18px;
                            }
                            .j_ci_spot{
                                line-height: 24px;
                                color: #666666;
                                font-size: 14px;
                            }
                            .j_ci_wrapper{
                               position: relative;
                               width: 100px;
                               height: 13px;
                                .ci_start_bg{
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    left: 0;
                                    z-index: 1;
                                    i{
                                        color: #ff7385;
                                    }
                                }
                    
                            }
                            .j_ci_text{
                                padding: 8px 0 20px;
                                font-size: 14px;
                                line-height: 20px;
                                color: #999999;
                                word-break: break-all;
                                word-wrap: break-word;
                            }
                            .j_ci_pics{
                                overflow: hidden;
                                .j_ci_pc{
                                    width: 55px;
                                    height: 55px;
                                    margin: 0 10px 5px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
//通用背景色
.j_active{
    color: #ff7385;
}
//更多城市
.j_tipCity{
    background-color: #fff;
    padding: 40px 0;
    .j_tipCity_center{
        width: 1180px;
        margin: 0 auto;
        .j_tipCity_title{
            padding-bottom: 20px;
            h2{
                font-size: 24px;
                line-height: 30px;
                color: #2f2f2f;
            }
        }
        .j_tipCity_row{
            margin-left: -20px;
            height: 280px;
            .j_tipCity_city{
                position: relative;
                width: 280px;
                height: 280px;
                margin-bottom: 20px;
                margin-left: 20px;
                .j_tipCity_mask{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.3);
                }
                .j_tipCity_img{
                    width: 100px;
                    height: 100%;
                }
                .j_tipCity_info{
                    position: absolute;
                    top: 72px;
                    left: 100px;
                  
                    text-align: center;
                    color: #ffffff;
                    .j_tipCity_city_icon{
                        i{
                            color: #fff;
                            font-size: 32px;
                        }
                    }
                    .j_tipCity_spot{
                        font-size: 30px;

                    }
                    .j_tipCity_spoten{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}