@charset "UTF-8";
/* 中式婚礼*/
body{
	overflow-x: hidden;
}

.r_content_top{
	background: #f6f6f6;
	overflow: hidden;
	.show_img{
		width: 1180px;
		height: 100px;
		margin: 25px auto 0;
		img{
			width: 1180px;
			height: 100px;
		}
	}
	.show_box{
		width: 1180px;
		// height: 290px;
		margin: 0 auto;
		p{
			line-height: 50px;
			color: #808080;
		}
		.tab{
			width: 1180px;
			// height: 240px;
			border: 1px solid #E3E3E3;
			margin-bottom: 35px;
			.tab_nav{
				height: 44px;
				background: #f0f0f0;
				ul{
					display: flex;
					li{
						width: 236px;
						line-height: 44px;
						text-align: center;
						position: relative;
						.l{
							position: absolute;
							left: 0;
							top: 0px;
							width: 236px;
							height: 5px;
							background: #FF7385;
							display: none;
						}
						&:after{
							content: ' ';
							position: absolute;
							right: 0;
							top: 5px;
							width: 1px;
							height: 35px;
							background: #E3E3E3;
						}
						i{
							margin-right: 10px;
						}
						a{
							font-size: 16px;
							color: #4d4b4b;
						}
					}
				}
			}
			.tab_show{
				width: 1180px;
				background: #ffffff;
				.new{
					width: 1180px;
					display: none;
					.news{
						width: 1180px;
						height: 64px;
						border-bottom: 1px solid #F2F2F2;
						.left_nav{
							float: left;
							height: 28px;
							margin-left: 20px;
							margin-top: 15px;
							line-height: 28px;
							span{
								width: 70px;
								height: 28px;
								// background: #FF7385;
								padding:5px 20px;
								text-align: center;
								color: #666464;
								border-radius: 5px;
							}
						}
						
						ul{
							float: left;
							display: flex;
							li{
								width: 98px;
								height: 28px;
								text-align: center;
								line-height: 28px;
								margin: 15px;
								// &:hover a{
								// 	color: #FF7385;
								// }
							}
						}
						.cirle_color{
							li{
								width: 28px;
								height: 28px;
								margin: 15px 8px;
								position: relative;
								&:first-of-type{
									margin-left: 30px;
								}
								a{
									.color_title{
										position: absolute;
										left: -13px;
										top: 5;
										width: 54px;
										height: 26px;
										img{
											width: 100%;
										}
										span{
											position: absolute;
											top: 2px;
											left: 2px;
											text-align: center;
											line-height: 26px;
											width: 54px;
											height: 26px;
											display: block;
											color: #4d4b4b;
											font-size: 12px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}





.rr_color{//公共点击变色模块
	background: #FF7385;
	border-radius: 5px;
	// a{
	// 	color: #ffffff;
	// }
}





// 图片展示区版芯1180

.r_show{
	width: 1180px;
	margin: 15px auto;
	// background: #FF7385;
	.r_item{
		float: left;
		ul{
			height: 34px;
			li{
				float: left;
				height: 34px;
				width: 84px;
				border: 1px solid #808080;
				border-radius: 2px;
				margin-right: 10px;
				text-align: center;
				a{
					i{

						line-height: 34px;
						margin-right: 5px;
					}
					font-size: 16px;
				}
			}
		}
	}
	.r_right_text{
		float: right;
		span{
			margin-right: 20px;
			// &:hover a{
			// 	color: #FF7385;
			// }
		}
	}
	.img_show_list{
		width: 1180px;
		display: flex;
			flex-wrap: wrap;
			margin-bottom: 80px;
			position: relative;
		.imgs{
			width: 378px;
			height: 290px;
			margin: 9px;
			position: relative;
			&:hover{
				box-shadow: 2px 2px 2px 2px #E3E3E3;
			}
			&:hover .bottom_text{
				box-shadow: 2px 0px 2px 2px #e3e3e3;
			}
			
			&:hover a{
				height: 330px;
			}
			a{
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
			}
			img{
				width: 378px;
				height: 210px;
			}
			.bottom_text{
				position: absolute;
				width: 376px;
				height: 80px;
				border: 1px solid #E6E6E6;
				border-top: none;
				z-index: 2;
				background: #ffffff;
				.left_title{
					margin-left: 20px;
					margin-top: 5px;
					p{
						font-size: 16px;
						color: #4d4b4b;
						line-height: 35px;
					}
					span:first-of-type{
						color: #FF7385;
						font-size: 16px;
					}
					span:nth-child(3){
						color: #999999;
						font-size: 12px;
						text-decoration:line-through ;
						margin-left: 10px;
					}
				}
				.right_title{
					margin-top: 10px;
					text-align: center;
					width: 50px;
					height: 46px;
					border-left: 1px solid #e6e6e6;
					i{
						font-size: 23px;
						color: #999999;
					}
					p{
						font-size: 14px;
						color: #808080;
					}
				}
				.show_new{
					position: absolute;
					left: 20px;
					bottom: 15px;
					text-align: center;
					color: transparent;
				}
			}
			
		}
		& .imgs:nth-child(3n+1){
			margin-left: 0;
		}
		.pag{
			height: 40px;
			position: absolute;
			left: 40%;
			bottom: -70px;
			span{
				width: 40px;
				height: 30px;
				display: inline-block;
				margin: 0 15px;
				border-radius: 15px;
				text-align: center;
				
				&:hover{
					background: #4d4b4b;
				}
				&:hover a{
					color: #ffffff;
				}
				a{
					font-size: 16px;
					line-height: 30px;
				}
			 }
			
			 p{
				 display: inline-block;
			 }
		}
	}
}


.img_show_list .imgs:hover .show_new p{ 
	color: #808080;
}


//  结尾套餐和攻略
.r_end{
	background: #F5F5F5;
	.r_inner{
		width: 1180px;
		margin: 0 auto;
		h3{
			height: 50px;
			line-height: 50px;
			font-size: 20px;
			position: relative;
			padding-left: 20px;
			&:after{
				content: ' ';
				width: 5px;
				height: 32px;
				background: #FF7385;
				position: absolute;
				left: 0;
				top:10px;
			}
		}
		.end_imgs{
			width: 1180px;
			ul{
				display: flex;
				li{
					width: 280px;
					background: #ffffff;
					margin-right: 20px;
					position: relative;
					a{
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
					}
					&:hover img{
						transform: scale(1.2,1.2);
					}
					.img_box{
						width: 280px;
						height: 158px;
						overflow: hidden;
						img{
							width: 280px;
							height: 158px;
							transition:all 0.4s ease-in-out;
						}
					}
					.end_bottom{
						width: 100%;
						height: 80px;
						padding-left: 15px;
						p{
							line-height: 40px;
							font-size: 14px;
							color: #4d4b4b;
						}
						span:first-of-type{
							color: #FF7385;
							font-size: 16px;
						}
						span:last-of-type{
							font-size: 12px;
							color: #999999;
							padding-left: 10px;
							text-decoration: line-through;
						}
					}
				}
			}
		}
		.tips{
			width: 1180px;
			padding-bottom: 30px;
			i{
				display: inline-block;
				width: 0;
				height: 0;
				border: 5px solid ;
				border-color: transparent transparent transparent #FF7385;
			}
			h4{
				font-size: 18px;
				color: #4d4b4b;
				line-height: 80px;
			}
			.tips_left{
				width: 590px;
				p{
					height: 21.6px;
					margin: 10px 5px;
					&:hover a{
						color: #FF7385;
						text-decoration: underline;
					}
					a{
						font-size: 14px;
						color: #2f2f2f;
					}
				}
			}
			.tips_right{
				width: 590px;
				p{
					height: 21.6px;
					margin: 10px 5px;
					&:hover a{
						color: #FF7385;
						text-decoration: underline;
					}
					a{
						font-size: 14px;
						color: #2f2f2f;
					}
				}
			}
		}
	}
}