@charset "UTF-8";
/* 中式婚礼*/
body{
	overflow-x: hidden;
}

.r_content_top{
	background: #f6f6f6;
	overflow: hidden;
	.show_img{
		width: 1180px;
		height: 100px;
		margin: 25px auto 0;
		img{
			width: 1180px;
			height: 100px;
		}
	}
	.show_box{
		width: 1180px;
		// height: 290px;
		margin: 0 auto;
		p{
			line-height: 50px;
			color: #808080;
		}
		.tab{
			width: 1180px;
			// height: 240px;
			border: 1px solid #E3E3E3;
			.tab_nav{
				height: 44px;
				background: #f0f0f0;
				ul{
					display: flex;
					li{
						width: 236px;
						line-height: 44px;
						text-align: center;
						position: relative;
						.l{
							position: absolute;
							left: 0;
							top: 0px;
							width: 236px;
							height: 5px;
							background: #FF7385;
							display: none;
						}
						&:after{
							content: ' ';
							position: absolute;
							right: 0;
							top: 5px;
							width: 1px;
							height: 35px;
							background: #E3E3E3;
						}
						i{
							margin-right: 10px;
						}
						a{
							font-size: 16px;
							color: #4d4b4b;
						}
					}
				}
			}
			.tab_show{
				width: 1180px;
				background: #ffffff;
				.new{
					width: 1180px;
					.news{
						width: 1180px;
						height: 64px;
						border-bottom: 1px solid #F2F2F2;
						.left_nav{
							float: left;
							height: 28px;
							margin-left: 20px;
							margin-top: 15px;
							line-height: 28px;
							span{
								width: 70px;
								height: 28px;
								background: #FF7385;
								padding:5px 20px;
								text-align: center;
								color: #ffffff;
								border-radius: 5px;
							}
						}
						
						ul{
							float: left;
							display: flex;
							li{
								width: 98px;
								height: 28px;
								text-align: center;
								line-height: 28px;
								margin: 15px;
								// &:hover a{
								// 	color: #FF7385;
								// }
							}
						}
						.cirle_color{
							li{
								width: 28px;
								height: 28px;
								margin: 15px 8px;
								position: relative;
								&:first-of-type{
									margin-left: 30px;
								}
								a{
									.color_title{
										position: absolute;
										left: -13px;
										top: 5;
										width: 54px;
										height: 26px;
										img{
											width: 100%;
										}
										span{
											position: absolute;
											top: 2px;
											left: 2px;
											text-align: center;
											line-height: 26px;
											width: 54px;
											height: 26px;
											display: block;
											color: #4d4b4b;
											font-size: 12px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}





.rr_color{//公共点击变色模块
	background: #FF7385;
	border-radius: 5px;
	// a{
	// 	color: #ffffff;
	// }
}