@charset "UTF-8";
/* banner图*/
body{
	overflow-x: hidden;
}
.k_banner{
	width: 100%;
	height: 420px;
	img{
		position: relative;
		left: 50%;
		margin-left: -960px;
	}
	.K_left_nav{
		position: absolute;
		top: 175px;
		left: 175px;
		width: 218px;
		height: 350px;
		background: #ffffff;
	
		.k_show{
			height: 70px;
			box-sizing: border-box;
			border-bottom: 1px solid transparent;
			border-top: 1px solid transparent;
			position: relative;
			&:hover .k_top{
				color: #FF7385;
			}
			&:hover{
				border-bottom: 1px solid #999999;
				border-top: 1px solid #999999;
			}
			&:hover .k_list{
				border-bottom: 1px solid transparent;
			}
			.k_list{
				margin-left: 34px;
				width: 182px;
				height: 69px;
				position: absolute;
				top: -0.5px;
				border-bottom: 1px solid #999999;
				z-index: 2;
				.k_top{
					padding-top: 10px;
					height: 20px;
					// cursor: pointer;
					position: relative;
					a{
						width: 182px;
						height: 30px;
						display: block;
						position: absolute;
						left: 0;
						top: 0;
					}
					.k_flg{
						width: 5px;
						height: 69px;
						background: #FF7385;
						position: absolute;
						left: -34px;
						top: 0;
						display: none;
						
					}
					span{
						padding-left: 15px;
					}
					i:last-of-type{
						margin-left: 55px;
					
					}
				}
				ul{
					display: flex;
					padding-top: 10px;
					margin-left: 20px;
					li{
						margin-left: 10px;
						color: #999999;
						&:hover a{
							color: #FF7385;
						}
					}
				}
			}
			
			// &:hover .k_top .k_flg{//js实现
			// 	display: block;
			// }
			
		}
	}

	// nav弹出模块
	.k_pull{
		width: 280px;
		height: 350px;
		background: #ffffff;
		position: absolute;
		left: 393px;
		top: 175px;
		display: none;
		.pull_list{
			position: relative;
		}
		h3{
			padding: 15px 0 5px 20px;
			a:hover{
				color: #FF7385;
			}
		}
		ul{
			display: flex;
			flex-wrap: wrap;
			border-top: 1px solid #e0e0e0;
			li{
				margin: 7px 0;
				// width: 80px;
				height: 16px;
				padding:0 14px;
				border-right: 1px solid #e0e0e0;
				text-align:center;
				a{
					font-size: 13px;
					&:hover{
						color: #FF7385;
					}
				}
			}
		}
		.pull_bottom{
			width: 230px;
			height: 40px;
			padding-left: 25px;
			position: absolute;
			left: 10px;
			top:250px;
			span{
				width: 100px;
				height: 40px;
				line-height: 40px;
				border: 1px solid #999999;
				margin-right: 10px;
				text-align: center;
				display: inline-block;
				background: #ffffff;
				border-radius: 5px;
				&:hover{
					background: #FF7385;
					color: #ffffff;
				}
				&:hover a{
					color: #ffffff;
				}
			}
		}
	}
}

/* 主内容区*/
.k_content{
	width: 100%;
	background:#F5F5F5;
 .advantage{
	 width: 1180px;
	 height: 80px;
	 margin: 0 auto;
	 img{
		 padding-top: 20px;
	 }
	 img:nth-child(2){
		 margin-left: 15px;
	 }
	 img:nth-child(3){
		margin-left: 16px;
	}
 }

//  商品展示矩阵
.k_plan{
	height: 654px;
	width: 1180px;
	margin: 0 auto;
	margin-top: 50px;
	.title{
		width: 1180px;
		height: 40px;
		border-bottom: 1px solid #CCCCCC;
		h3{
			font-size: 24px;
			color: #3d3d3d;
			display: inline;
		}
		span{
			padding-left: 50px;
		}
	}
}

}


