@charset 'UTF-8';
body{
    background: #faf8f5;
    margin: 0;
    padding: 0;
    position: relative;
    height: auto!important;
}
// header
.l_header{
    position: relative;
    z-index: 5;
    .fr{
        margin-left: 0;
    }
    .l_header-wrapper{
        min-width: 1180px;
        background: #fff;
        .l_header-top{
            position: relative;
            width: 100%;
            background: rgba(241,241,241,0.7);
            z-index: 10;
            .l_header-top-inner{
                position: relative;
                width: 1180px;
                margin: 0 auto;
                height: 30px;
                padding: 4px 0;
                box-sizing: border-box;
                // header top-left
                .l_header-top-left{
                    height: 24px;
                    line-height: 10px;
                    float: left;
                    .l_header-city{
                        float: left;
                        position: relative;
                        top: 0;
                        height: 24px;
                        margin-left: 5px;
                        line-height: 24px;
                        color: #4b4b4b;
                        font-size: 12px;
                        cursor: pointer;
                        z-index: 10;
                        text-align: left;
                        .l_header-back{
                            font-size: 14px;
                            color: #4b4b4b;
                            .iconfont{
                                display: inline-block;
                                font-size: 18px;
                                color: #ff7389;
                                vertical-align: middle;
                            }
                            span{
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                    .l_header-tl-section{
                        display: inline-block;
                        padding: 0;
                        cursor: pointer;
                    }
                    .l_header-tl-section-meeting{
                        margin-left: 25px;
                        line-height: 14px;
                        .l_header-top-text{
                            position: relative;
                            color: #999696;
                            font-size: 12px;
                        }
                        .l_header-top-text-sup{
                            margin-left: -5px;
                            font-size: 9px;
                            color: #F84B60;
                        }
                    }
                }
                // header top-right
                .l_header-top-right{
                    float: right;
                    line-height: 22px;
                    .l_user-login{
                        display: inline-block;
                        .l_hlm-color{
                            color: #ff7385;
                        }
                    }
                    .l_header-tr-link{
                        color: inherit;
                        cursor: pointer;
                        font-size: 12px;
                    }
                    .l_header-tr-link:hover{
                        color: #ff7385;
                    }
                    .l_user-out{
                        display: none;
                    }
                    .l_header-tr-item{
                        display: inline-block;
                        margin-right: 16px;
                        color: #4D4B4B;
                        font-size: 12px;
                    }
                    .l_header-btn{
                        position: relative;
                        box-sizing: border-box;
                        .l_xt-icon{
                            position: relative;
                            top: 2px;
                            .iconfont{
                                color: #adadad;
                            }
                        }
                        .l_customer-center-wrap{
                            z-index: 2;
                            position: absolute;
                            top: 16px;
                            left: 50%;
                            width: 122px;
                            margin-left: -58px;
                            padding: 10px 10px 4px 4px;
                            display: none;
                            .l_customer-center-list{
                                box-sizing: border-box;
                                position: relative;
                                width: 108px;
                                padding: 10px 0;
                                text-align: center;
                                background: #fff;
                                border: 1px solid #f6e6e6;
                                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
                                li{
                                    position: relative;
                                    padding: 0px 10px 0px 25px;
                                    text-align: left;
                                    box-sizing: border-box;
                                    .l_customer-center-link{
                                        position: relative;
                                        color: #999696;
                                        cursor: pointer;
                                        z-index: 2;
                                    }
                                }
                                li:hover{
                                    background: #faf8f5;
                                }
                                .l_customer-center-arrow{
                                    box-sizing: border-box;
                                    position: absolute;
                                    top: -13px;
                                    left: 50%;
                                    margin-left: -7px;
                                    width: 0;
                                    display: block;
                                    border: 7px solid transparent;
                                    border-bottom-color: #fff;
                                    z-index: 1;
                                }
                                .l_customer-center-arrow2{
                                    box-sizing: border-box;
                                    position: absolute;
                                    top: -16px;
                                    left: 50%;
                                    margin-left: -8px;
                                    width: 0;
                                    display: block;
                                    border: 8px solid transparent;
                                    border-bottom-color: #f6e6e6;
                                    opacity: 0.5;
                                }
                                .l_customer-center-login{
                                    padding: 5px 10px 5px;
                                    box-sizing: border-box;
                                    .l_customer-center-link{
                                        padding: 4px 10px;
                                        font-size: 12px;
                                        color: #fff;
                                        background: #ff7385;
                                        border-radius: 4px;
                                    }
                                }
                            }
                        }
                    }
                    .l_header-merchant-item{
                        display: inline-block;
                    }
                    .phone{
                        margin-right: 0;
                        .l_xt-icon{
                            position: relative;
                            top: 2px;
                            font-size: 14px;
                            font-family: "Microsoft Yahei";
                        }
                        .l_header-tri-tel{
                            color: #888;
                            font-size: 14px;
                            font-family: "Microsoft Yahei";
                        }
                    }
                }
                .l_header-select-warn{
                    position: absolute;
                    top: 30px;
                    right: 0;
                    height: 36px;
                    padding: 0 16px;
                    line-height: 34px;
                    background-color: #f3ffe6;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                    border: solid 1px #eef5e6;
                    color: #4d4b4b;
                    font-size: 12px;
                    display: none;
                }
                a, span, div {
                    text-decoration: none;
                    margin: 0;
                    padding: 0;
                    font-family: "Microsoft Yahei";
                    font-size: 14px;
                    color: #666666;
                }
            }
        }
        // header nav
        a, span, div {
            text-decoration: none;
            margin: 0;
            padding: 0;
            font-family: "Microsoft Yahei";
            font-size: 14px;
            color: #666666;
        }
        .l_header-nav{
            margin: 25px auto 0 auto;
            padding-bottom: 10px;
            position: relative;
            width: 1180px;
            height: 50px;
            z-index: 1;
        }
        .l_header-page-title{
            height: 70px;
            .l_header-logo{
                width: auto;
                float: left;
                // width: 303px;
                display: inline-block;
                height: 50px;
                .l_xt-icon{
                    display: inline-block;
                    vertical-align: middle;
                    img{
                        width: 125px;
                        height: 41px;
                    }
                }
                .l_header-title-wrap{
                    display: inline-block;
                    height: 40px;
                    padding-left: 16px;
                    margin-left: 14px;
                    border-left: 1px solid #979797;
                    vertical-align: middle;
                    .l_header-title-zh{
                        display: block;
                        font-size: 20px;
                        line-height: 20px;
                        color: #2f2f2f;
                        text-align: justify;
                        letter-spacing: 16px;
                        margin: 0;
                        padding: 0;
                    }
                    .l_header-title-en{
                        display: block;
                        font-size: 14px;
                        line-height: 24px;
                        color: #666;
                    }
                }
            }
            .l_header-nav-select{
                position: relative;
                float: left;
                width: 163px;
                height: 30px;
                margin: 6px 0 0 30px;
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 1px #fc5066;
                text-align: center;
                line-height: 30px;
                .l_header-select-title{
                    line-height: 30px;
                    cursor: default;
                    .iconfont{
                        font-size: 18px;
                        color: #fc5066;
                        position: relative;
                        top: 2px;
                    }
                    .l_title-list-bridge{
                        position: absolute;
                        bottom: -14px;
                        left: 0;
                        width: 100%;
                        height: 14px;
                    }
                }
                .l_header-select-list{
                    display: none;
                    position: absolute;
                    text-align: center;
                    z-index: 99;
                    width: 163px;
                    overflow: hidden;
                    height: auto;
                    left: 0;
                    top: 40px;
                    background-color: #fff;
                    border-radius: 2px;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                    border: solid 1px #e3e3e3;
                    cursor: default;
                    .l_header-select-item{
                        display: block;
                        width: 100%;
                        height: 50px;
                        line-height: 50px;
                        padding-left: 30px;
                        font-size: 14px;
                        color: #2f2f2f;
                        text-align: left;
                        .iconfont{
                            width: 32px;
                            padding-right: 10px;
                            font-size: 24px;
                            color: hsl(352, 87%, 75%);
                            display: inline-block;
                            vertical-align: middle;
                        }
                        span{
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                    .l_header-select-item:hover{
                        background: rgba(255,119,139,.1);
                        color: hsl(352, 87%, 75%);
                    }
                }
            }
            .l_header-nav-list{
                display: inline-block;
                height: 50px;
                line-height: 20px;
                color: #666;
                .l_header-nav-item{
                    float: left;
                    width: 106px;
                    height: 100%;
                    color: #2F2F2F;
                    font-size: 16px;
                    text-align: center;
                    cursor: pointer;
                    .l_header-nav-link{
                        position: relative;
                        color: inherit;
                        font-size: 16px;
                        display: block;
                        .l_header-nav-innertext{
                            color: #2f2f2f;
                            font-size: 16px;
                        }
                        .l_header-nav-innertext:hover{
                            color: red;
                        }
                    }
                }
                
            }
        }
    }
}
// center content
a, span, div {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    color: #666666;
}
.l_nav-title{
    position: relative;
    // height: 50px;
    line-height: 50px;
    color: #808080;
    font-size: 14px;
    z-index: 1;
}
.l_nav-title-center{
    position: relative;
    width: 1180px;
    margin: 50px auto 0;
    text-align: left;
    a,h2,h1{
        display: inline;
        font-size: 14px;
    }
}
.l_wedding_center_content{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #fff;
    background: #ffffff;
    position: relative;
    border-bottom: none;
    border-radius: 6px;
    .l_first_pic_content{
        width: 127px;
        // height: 87px;
        margin: -74px auto 0;
        text-align: center;
        img{
            margin: 20px auto 5px;
            height: 65px;
            width: 65px;
        }
        div{
            display: block;
            width: 127px;
            height: 19px;
        }
    }
    .l_tool_dec_content_title{
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #F6EDDF;
        text-align: center;
        line-height: 40px;
        font-weight: bold;
        color: #5a5a5a;
        .l_tool_dec_strong{
            color:#ffcd4c;
            font-size: 24px;
        }
    }
    .l_content_border{
        padding-top: 30px;
        padding-bottom: 30px;
        .l_budget_content{
            height: 370px;
        }
        .l_each_enregister_content{
            width: 1095px;
            padding-bottom: 35px;
            margin: 0 auto;
            .l_input_area{
                position: relative;
                width: 100%;
                height: 80px;
                text-align: center;
                margin-top: 30px;
                .l_input_group{
                    position: relative;
                    width: 220px;
                    height: 30px;
                    display: inline-block;
                    margin: 0 10px;
                    border-radius: 4px;
                    border: 1px solid #e5e5e5;
                    label{
                        position: absolute;
                        left: 0;
                        width: 80px;
                        height: 100%;
                        border-right: 1px solid #e5e5e5;
                        text-align: center;
                        font-size: 14px;
                        line-height: 30px;
                        color: #ff6699;
                    }
                    input{
                        position: absolute;
                        left: 90px;
                        top: 3px;
                        width: 100px;
                        height: 24px;
                        border: none;
                        text-align: left;
                        font-size: 16px;
                        line-height: 24px;
                        color: #ff6699;
                    }
                    span{
                        position: absolute;
                        right: 0;
                        width: 30px;
                        height: 100%;
                        text-align: center;
                        font-size: 14px;
                        line-height: 30px;
                        color: #ff6699;
                    }
                }
                .l_check_group{
                    position: relative;
                    top: 10px;
                    left: 309px;
                    width: 300px;
                    text-align: left;
                    input{
                        width: 0;
                        height: 0;
                    }
                    label{
                        position: absolute;
                        font-size: 12px;
                        top: 1px;
                        color: #a3a3a3;
                    }
                }
                .l_budget_submit{
                    position: absolute;
                    top: 45px;
                    left: 700px;
                    width: 80px;
                    height: 20px;
                    background-color: #ff6699;
                    border-radius: 3px;
                    color: white;
                    border: none;
                }
            }
            .l_result_title{
                position: relative;
                height: 35px;
                text-align: center;
                font-weight: bold;
                font-size: 18px;
                margin-top: 10px;
            }
            .l_result_table{
                width: 100%;
                border-top: 1px dashed #e3e3e3;
                border-left: 1px dashed #e3e3e3;
                tbody{
                    display: table-row-group;
                    vertical-align: middle;
                    border-color: inherit;
                    tr{
                        display: table-row;
                        vertical-align: inherit;
                        border-color: inherit;
                        td{
                            height: 40px;
                            text-align: right;
                            padding-right: 10px;
                            border-right: 1px dashed #e3e3e3;
                            border-bottom: 1px dashed #e3e3e3;
                        }
                        .l_result_tit{
                            width: 150px;
                            text-align: center;
                            padding: 0;
                        }
                    }
                }
            }
            .l_tip{
                position: relative;
                top: 10px;
                .l_tip_tit{
                    position: absolute;
                    top: -3px;
                    font-size: 40px;
                    font-weight: bold;
                    color: #ff6699;
                }
                .l_tip_budget{
                    position: relative;
                    left: 110px;
                    color: #999;
                }
                .l_tip_groupbuy{
                    position: relative;
                    left: 110px;
                    color: #999;
                }
                .l_tip_groupbuy{
                    position: relative;
                    left: 110px;
                    color: #999;
                }
            }
        }
    }
}
// 其他工具
.l_other_tool_tit{
    height: 30px;
    width: 1200px;
    margin: 10px auto;
    line-height: 30px;
    text-align: left;
    position: relative;
    .l_other_tool_de{
        position: absolute;
        left: 0;
    }
}
.l_tool_pic_content{
    height: 180px;
    width: 1200px;
    margin: 0 auto 30px;
    padding: 32px;
    background: white;
    text-align: center;
    box-sizing: border-box;
    .l_each_tool_pic{
        float: left;
        width: 128px;
        height: 125px;
        margin-left: 75px;
        img{
            margin: 10px auto;
        }
        .l_each_tool_pic_tit{
            width: 100%;
            text-align: center;
            font-size: 16px;
        }
    }
}