@charset "UTF-8";

//@desc '公用头部样式'
//@autor  'hcy'
//@date  '2019-11-7'
/*测试文字！*/
/*测试文字2*/

.header{
   position:relative;
    .mod_header{
        min-width:1180px;
        background-color:#fff;
        position:relative;
        .mod_top{
            height:30px;
            background-color:rgba(241,241,241,0.7);
            .mod_contain{
                width:1180px;
                height:30px;
                .mod_address{
                    
                }
            }
        }
        .mod_bottom{
            margin-top:25px auto 0px auto;
            height:70px;
        }
    }
}