@charset "UTF-8";

//@desc '公用头部样式'
//@autor  'hcy'
//@date  '2019-11-8'
.h_content1{
    height:170px;
    background-color:#fff;
    .h_content2{
        padding:20px 0 15px 0;
        .h_contleft{
            margin-right:14px;
            img{
                width:220px;
                height:120px;
            }
        }
    }
}
.h_theme1{
    position:relative;
    .h_a1{
        display: inline-block;
        vertical-align: top;
        .h_th2{
            display:inline-block;
            font-size:15px;
            color:#333;
        }
    }
    .h_a{
        position:absolute;
        top:28px;
        left:0;
    }
    .h_ul2{
        width: 150px;
        height:100px;
        margin-left: 15px;
        display: inline-block;
        vertical-align: top;
        border-right:1px solid #ddd;
        padding-right:10px;
        a{
            display:inline-block;
            margin: 0 13px 17px 4px;
            font-size:12px;
            line-height:2px;
        }
        .h_change{
            margin: 0 8px 17px 4px;
            font-size: 10px;
        }
    }
}
.h_theme1 a:hover{
    color:#ff7385;
}
.h_theme1 .h_th2:hover{
    color:#ff7385;
}