@charset "UTF-8";

//@desc '公用头部样式'
//@autor  'hcy'
//@date  '2019-11-7'

.footer{
    background-color:rgb(50,50,50);
    .mod_first{
        padding:23px 0;
        ul{
            border-bottom:2px solid #444;
            padding-bottom:23px;
            margin-bottom:26px;
            li{
                float: left;
                padding:0px 45px 0px 45px;
                color: #EEEEEE;
                border-right: 1px solid #444;
                line-height: 44px;
                font-size: 18px;
            }
            .mod_line{
                border:0;
            }
        }
    }
}
.mod_dl{
    margin-top:20px;
    position:relative;
    padding-bottom: 32px;
    border-bottom: 2px solid #444;
    dl{
        margin-right:127px;
       
        dt{
            color:#E3E3E3;
            font-size:16px;
            padding-left:30px;
            margin-bottom:14px;
        }
        dd{
            position:relative;
            padding-left:30px;
            font-size:14px;
            margin-top:7px;
            a{
                color:#868686;
            }
        }
        .mod_color{
            font-size:21px;
            color:#E3E3E3;
            font-weight:500;
        }
    }
    dl::before{
        content:'';
        position:absolute;
        top:3px;
        width:4px;
        height:19px;
        background-color:#ff7385;
    }
}
.mod_ewm{
    display:none;
    position: absolute;
    top: -47px;
    left: 99px;
    width: 140px;
    height: 140px;
    background-color: #fff;
    z-index: 666;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    a{
        display:block;
        width:41px;
        height:41px;
    }
    img{
        width:120px;
        height:120px;
        display:block;
    }
    span{
        position: absolute;
        left: -20px;
        top: 56px;
        width: 0;
        border: 10px solid transparent;
        border-right: 10px solid #fff;
    }
}
.mod_move:hover .mod_ewm{
    display:block;
}
.mod_dd:hover a{
    color:#666;
}